<html>
<head>
<title> Yogi's blog </title>
</head>
<body>
<div>
<h1>About my blog</h1>
<p>Hello guys, i am as all of you must be knowing, by this time :p, yogi.<br>
I have recently made a <strong>blog</strong> where I would share my experience so far in life.<br></p>
<h4>Some tips</h4>
<ul><li>Stay focused when required</li><li><i>Karma heen dharm hai</i></li><li><strong>Love</strong> your family.</li>
<li>Don't give a shit about people who don't give a shit about you.</li>
<li>Try learning new stuffs</li>
<li>Love yourself</li>
<li>Don't get tensed</li>
<li>Watch anime if required</li>
</ul>
</div>
<div>
<h1>Another Blog</h1>
<p> That's all folks :)</p>
</div>
</body>
</body>
</html>
